[Desktop Entry]
Version=1.0
Type=Application
Name=Humble Vault Downloader
Comment=Download games from your Humble Bundle vault
Exec=bash -c 'curl -sSL https://raw.githubusercontent.com/konsumer/humble_vault_downloader/refs/heads/main/install.sh | bash'
Icon=application-x-executable
Terminal=false
Categories=Game;Utility;
Keywords=humble;bundle;download;games;
X-AppImage-Name=Humble Vault Downloader
